@font-face {
  font-family: "iconfont"; /* Project id 3475258 */
  src: url('iconfont.woff2?t=1655868505948') format('woff2'),
       url('iconfont.woff?t=1655868505948') format('woff'),
       url('iconfont.ttf?t=1655868505948') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-hulianwang:before {
  content: "\e670";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-tuite:before {
  content: "\ee49";
}

.icon-duihao:before {
  content: "\e605";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-qizi:before {
  content: "\e654";
}

.icon-hua:before {
  content: "\e62c";
}

.icon-airudiantubiaohuizhi-zhuanqu_tiyushijie:before {
  content: "\e69a";
}

.icon-tushu:before {
  content: "\e66c";
}

.icon-yonghu:before {
  content: "\e667";
}

.icon-jizhi:before {
  content: "\e64e";
}

